.App {
  text-align: center;
  background-image: url("./img/memphis-colorful.png");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

.App-header {
  align-content: center;
  padding: 10px;
  color: rgb(9, 44, 100);
}

.App-title {
  font-family: 'Bangers', cursive;
  font-size: 70px;
  display: block;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  font-family: 'Overpass', sans-serif;
}

button {
  border: none;
}

button:hover {
  border: 1px solid;
}

.anime {
  border: 1px solid black;
}

.anime-title {
  text-align: left;
  font-family: 'Overpass', sans-serif;
}

.anime-synopsis {
  overflow-y: hidden;
  height: 120px;
  text-align: left;
  padding-right: 10px;
  font-size: 14px;
  font-family: 'Overpass', sans-serif;
}

.anime-synopsis:hover {
  overflow-y: scroll;
}

.anime-col {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  
}

.anime-col img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.source-wrapper {
  text-align: right;
}

.source {
  font-family: 'Overpass', sans-serif;
  display: inline-block;
  margin-bottom: 0;
  padding: 0 10px 0 10px;
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }
}

.overlay {
  float: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
  background:rgba(255,255,255,0.8);
  padding: 5px;
  font-weight: bold;
}

.season-selection {
  color: rgb(9, 44, 100);
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  background: transparent;
  cursor: pointer;
}

.season-selected {
  color: rgb(9, 100, 100);
  font-size: 25px;
  font-family: 'Overpass', sans-serif;
  background: transparent;
  cursor: pointer;
}

button {
  background: transparent;
}

button:hover {
  border: none;
}

button:focus {
  border: none;
  outline: 0 !important;
}